:root {
	--frame-color: #CCC;
	--hover-color: #DEF;
	--click-color: #FC8;
	--info-color: #28F;
	--info-stroke-color: #00F;
	--error-color: #F00;
	--error-background-color: #FCC;
	--semi-link-color: #004;
	--inset-background-color: #EEE;
	--file-reader-background-color: #e9e9ed;
	--file-reader-passive-border-color: #888;
	--file-reader-active-border-color: #6A6;
	--tag-key-background-color: #F8F8FF;
	--popup-item-background: #F8F8F8;
	--popup-main-item-background: #FFF;
}
@media (prefers-color-scheme: dark) {
	:root {
		--hover-color: #246;
		--click-color: #A84;
		--info-color: #26B;
		--info-stroke-color: #008;
		--error-color: #C00;
		--error-background-color: #822;
		--semi-link-color: #CCF;
		--inset-background-color: #333;
		--file-reader-background-color: #2b2a33;
		--tag-key-background-color: #223;
		--popup-item-background: #333;
		--popup-main-item-background: #222;
	}
	.leaflet-container {
		background: #888 !important;
	}
	.leaflet-container .leaflet-popup-content-wrapper a {
		color: revert;
	}
	.leaflet-popup-content-wrapper {
		background: #222 !important;
		color: revert !important;
	}
}

body > .symbols {
	display: none;
}

.text-side,
.graphic-side {
	position: fixed;
	height: 50%;
	width: 100%;
}
body.flipped .graphic-side,
body.flipped .text-side {
	height: 100%;
	width: 50%;
}
.text-side {
	top: 0;
	left: 0;
	z-index: 1; /* be above photo with blurry backdrop */
	overflow-y: auto; /* scrollbar should appear only for oversized tools panel */
}
.graphic-side {
	bottom: 0;
	right: 0;
}
.text-side {
	display: flex;
	flex-direction: column;
}
.text-side .scrolling {
	overflow-y: scroll;
	flex-grow: 1;
}

time.listened {
	text-decoration: underline dotted 1px;
	color: var(--semi-link-color);
	cursor: pointer;
}
a.listened {
	text-decoration-style: dotted;
	text-decoration-thickness: 1px;
}
a.listened.loading {
	cursor: progress;
}
a.listened.absent {
	text-decoration-color: #A00;
}
a.other-note.absent:active {
	cursor: not-allowed;
}

button.global {
	position: absolute;
	width: 2rem;
	height: 2rem;
	box-sizing: border-box;
	border: none;
	padding: 0;
	background: none;
}
button.global > svg {
	width: 100%;
	height: 100%;
}

.panel {
	position: relative;
	padding: .5rem;
	border-top: solid 1px var(--frame-color);
	border-bottom: solid 1px var(--frame-color);
}
.panel + .panel {
	border-top: none;
}
.panel div {
	margin: .5rem 0;
}
.panel label.inline {
	white-space: nowrap;
}

.panel.fetch {
	padding: .5rem 3rem;
}
.panel.fetch button.reset,
.panel.fetch button.flip {
	top: .5rem;
}
.panel.fetch button.reset:hover,
.panel.fetch button.flip:hover {
	outline: auto;
}
.panel.fetch button.reset {
	right: .5rem;
}
.panel.fetch button.flip {
	left: .5rem;
	--flip-ver-part-visibility: visible;
}
body.flipped .panel.fetch button.flip {
	--flip-ver-part-visibility: hidden;
	--flip-hor-part-visibility: visible;
}
.panel.fetch .request,
.more .request {
	opacity: .7;
	font-size: .9em;
}
.panel.fetch:not(.show-requests) .request,
.more:not(.show-requests) .request {
	display: none;
}

.panel.command {
	--gap: 8px;  /* used in info tips */
	display: flex;
	flex-wrap: wrap;
	gap: var(--gap);
}
.panel.command div,
.panel.command details.tool {
	margin: 0;
	line-height: 1.4em;
}
.panel.command details.tool {
	outline: none;
}
@keyframes tool-ping-fade {
	from {
		outline-color: var(--click-color);
	}
	to {
		outline-color: transparent;
	}
}
.panel.command details.tool.ping {
	animation-name: tool-ping-fade;
	animation-duration: 1s;
	outline-style: solid;
}
.panel.command details.tool summary {
	display: inline;
}
.panel.command details.tool summary::before {
	content: '+';
	display: inline-block;
	width: 1em;
	height: 1em;
	line-height: 1em;
	text-align: center;
}
.panel.command details.tool summary:hover::before {
	background: var(--hover-color);
}
.panel.command details.tool[open] summary::before {
	content: '−';
}
.panel.command details.tool[open] summary::after {
	content: ':';
	width: 1ex;
	display: inline-block;
}
.panel.command details.tool button.info {
	--info-size: 20px;
	--info-height-with-tip: calc(var(--info-size) + var(--gap) + 1px);
	display: inline-block;
	position: relative;
	vertical-align: bottom;
	border: none;
	padding: 0;
	margin: 0;
	background: none;
	width: var(--info-size);
	height: var(--info-size);
	overflow: hidden;
}
.panel.command details.tool button.info > svg {
	position: absolute;
	top: 0;
	left: 0;
	width: var(--info-size);
	height: var(--info-height-with-tip);
}
.panel.command details.tool button.info:not(.open) {
	cursor: help;
}
.panel.command details.tool button.info:hover {
	--tools-info-hover-part-visibility: visible;
}
.panel.command details.tool button.info.open {
	margin-bottom: calc(-1px - var(--gap));
	height: var(--info-height-with-tip);
	--tools-info-tip-part-visibility: visible;
}
.panel.command details.tool button.info.open:hover {
	--tools-info-close-hover-part-visibility: visible;
}
.panel.command details.tool form {
	display: contents;
}
.panel.command details.info {
	width: calc(100% + 1rem);
	display: none;
	margin: 0 -.5rem;
	border-top: solid 1px #AAA;
	border-bottom: solid 1px #AAA;
	padding: 0 .5rem;
	background: var(--inset-background-color);
}
.panel.command details.info p {
	margin: .5rem 0;
}
.panel.command details.info[open] {
	display: block;
}
.panel.command details.info summary {
	display: none;
}
.panel.command [class|=icon] > span {
	display: none;
}
.panel.command [class|=icon] > svg {
	vertical-align: middle;
}
.panel.command button[disabled] [class|=icon] {
	opacity: .5;
}
.panel.command [class|=icon-map] > svg {
	width: 19px;
	height: 13px;
}
.panel.command [class|=icon-notes] > svg {
	width: 9px;
	height: 13px;
}
.panel.command .icon-map-area {
	--tools-map-area-part-visibility: visible;
}
.panel.command .icon-map-center {
	--tools-map-center-part-visibility: visible;
}

.panel input:invalid:not(.no-invalid-indication),
.panel textarea:invalid:not(.no-invalid-indication) {
	border: solid 2px var(--error-color);
	border-radius: 3px;
}
.panel .major-input input[type=text],
.panel .major-input textarea,
.panel .major-input button {
	display: block;
	box-sizing: border-box;
	width: 100%;
}
.panel .major-input textarea {
	resize: vertical;
}
.panel .major-input button {
	padding: .3rem;
}
.panel .text-button-input {
	position: relative;
}
.panel .text-button-input input[type=text] {
	display: block;
	box-sizing: border-box;
	width: calc(100% - 5rem);
}
.panel .text-button-input button {
	display: block;
	box-sizing: border-box;
	width: 4.5rem;
	position: absolute;
	bottom: 0;
	right: 0;
}
.panel button.error {
	color: var(--error-color);
	box-shadow: 0px 0px 0px 1px var(--error-color);
}
.panel fieldset {
	margin-left: 0;
	margin-right: 0;
}
.panel .major-input label.file-reader {
	--file-reader-border-width: 2px;
}
.panel .major-input label.file-reader {
	display: grid;
	align-content: center;
}
.panel .major-input label.file-reader .over {
	margin: 2px;
	grid-row: 1;
	grid-column: 1;
	z-index: 1;
	pointer-events: none;
	background: var(--file-reader-background-color);
	display: grid;
	align-items: center;
	justify-items: center;
}
.panel .major-input label.file-reader:focus-within .over {
	z-index: -1;
}
.panel .major-input label.file-reader .colon {
	display: none;
}
.panel .major-input label.file-reader input {
	display: block;
	padding: 3rem;
	background: var(--file-reader-background-color);
	text-align: center;
	grid-row: 1;
	grid-column: 1;
	border: dashed var(--file-reader-border-width) var(--file-reader-passive-border-color);
	border-radius: 2px;
}
.panel .major-input label.file-reader input.active {
	border: dashed var(--file-reader-border-width) var(--file-reader-active-border-color);
}

.notes table {
	border-collapse: collapse;
	margin: 0 2px;
}
.notes tbody {
	box-shadow: -2px 0px 0px 0px red, 2px 0px 0px 0px red;
	position: relative;
}
.notes tbody.hidden {
	display: none;
}
.notes tbody.closed {
	box-shadow: -2px 0px 0px 0px green, 2px 0px 0px 0px green;
}
.notes tbody.active-hover::before {
	content: '';
	display: block;
	position: absolute;
	inset: 0;
	background: var(--hover-color);
	z-index: -1;
}
@keyframes active-click-fade {
	from { background: var(--click-color); }
	to { background: transparent; }
}
.notes tbody.active-click {
	animation-name: active-click-fade;
	animation-duration: 3s;
}
.notes td {
	vertical-align: top;
}
.notes td,
.notes th {
	padding: 2px;
}
.notes td.note-date {
	white-space: nowrap;
}
.notes td.note-user {
	white-space: nowrap;
	max-width: 20vw;
	text-overflow: ellipsis;
	overflow: hidden;
}
body.flipped .notes td.note-user {
	max-width: 10vw;
}
.notes td.note-user:empty::before {
	content: "anonymous";
	color: gray;
}
.notes td.note-action [class|=icon] {
	position: relative;
	display: inline-block;
	margin: 0;
	padding: 0;
	width: 16px;
	height: 16px;
	vertical-align: text-top;
}
.notes td.note-action [class|=icon-status-open] {
	--table-note-default-part-visibility: hidden;
	--table-note-open-part-visibility: visible;
}
.notes td.note-action [class|=icon-status-closed] {
	--table-note-default-part-visibility: hidden;
	--table-note-closed-part-visibility: visible;
}
.notes td.note-action [class|=icon-comments-count] text {
	font-family: sans-serif;
	font-size: 10px;
	text-anchor: middle;
	dominant-baseline: central;
}
.notes td.note-comment {
	--comment-img-gap-size: 2px;
	--comment-link-outline: solid orange var(--comment-img-gap-size);
	white-space: pre-wrap;
	overflow-wrap: anywhere;
	width: 100%;
}
.notes td.note-comment:empty::before {
	content: "no comment";
	color: gray;
}
.notes td.note-comment a.image:hover,
.notes td.note-comment a.image.active {
	outline: var(--comment-link-outline)
}
.notes td.note-comment a.image.float {
	display: none;
	float: right;
	max-width: 25%;
	margin-left: var(--comment-img-gap-size);
	margin-bottom: var(--comment-img-gap-size);
}
.notes td.note-comment a.image.float img {
	display: block;
	max-width: 100%;
	max-height: 25vh;
}
.notes table.with-images td.note-comment a.image.float {
	display: block;
}
.notes table.only-first-comments tr:not(:first-child) {
	display: none;
}
.notes table.only-first-comments td.note-action [class|=icon-status] {
	display: none;
}
.notes table:not(.only-first-comments) td.note-action [class|=icon-comments-count] {
	display: none;
}
.notes table.one-line-comments td.note-comment {
	white-space: nowrap;
	overflow: hidden;
}

.more div {
	margin: 1em;
}
.more button {
	display: block;
	box-sizing: border-box;
	width: 100%;
	padding: .3rem;
}
.more .error {
	background: var(--error-background-color);
}
.more pre {
	margin: 1rem 0 0 0;
	padding: 1rem;
	background: var(--inset-background-color);
	overflow-x: scroll;
}
.examples dd {
	margin: .5em 0 .5em 2em;
	padding: .5em;
	background: var(--inset-background-color);
}
.examples code {
	white-space: pre-wrap;
}

.loose-parser-popup {
	--item-height: 20px;
	--item-width: 90px;
	display: none;
	position: fixed;
	z-index: 1;
	list-style: none;
	margin: 0;
	padding: 0;
	border: solid 1px var(--frame-color);
	font-size: .9em;
	opacity: .9;
}
.loose-parser-popup.open {
	display: block;
}
.loose-parser-popup a {
	display: flex;
	box-sizing: border-box;
	width: var(--item-width);
	height: var(--item-height);
	align-items: center;
	padding-left: 5px;
	background: var(--popup-item-background);
}
.loose-parser-popup li.main a {
	height: calc(2*var(--item-height));
	border-top: solid 1px var(--frame-color);
	border-bottom: solid 1px var(--frame-color);
	background: var(--popup-main-item-background);
}
.loose-parser-popup a:link:hover {
	background: var(--hover-color);
}

.map {
	width: 100%;
	height: 100%;
	isolation: isolate;
}
.map .note-marker {
	opacity: 0.5;
}
.map .note-marker.active-click,
.map .note-marker.active-hover {
	opacity: 1;
}
.map .note-marker .aura {
	stroke: #0000;
	fill: #0000;
	transition: stroke,fill .5s;
}
.map .note-marker.active-hover .aura {
	stroke: #048;
	fill: #FFF;
}
.map .note-marker.active-click .aura {
	fill: #FC0;
}
.map .note-track {
	vector-effect: non-scaling-stroke;
}
.map .crosshair-overlay {
	position: absolute;
	z-index: 500;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	pointer-events: none;
}
.map .crosshair-overlay .crosshair {
	height: 15px;
	width: 15px;
}
.map .osm-element-popup-contents {
	--block-gap: .5em;
}
.map .osm-element-popup-contents p,
.map .osm-element-popup-contents figure {
	margin: var(--block-gap) 0;
}
.map .osm-element-popup-contents figure figcaption {
	font-weight: bold;
}
.map .osm-element-popup-contents figure table {
	border: solid 1px var(--frame-color);
	border-spacing: 0;
	border-radius: .25rem;
	width: 100%;
}
.map .osm-element-popup-contents figure tr:not(:first-child) td {
	border-top: solid 1px var(--frame-color);
}
.map .osm-element-popup-contents figure tr td:first-child {
	background: var(--tag-key-background-color);
	border-right: solid 1px var(--frame-color);
}
.map .osm-element-popup-contents button {
	display: block;
	box-sizing: border-box;
	width: 100%;
	margin: var(--block-gap) 0;
}

dialog.figure {
	position: absolute;
	inset: 0;
	padding: 0;
	border: 0;
	width: 100%;
	height: 100%;
}
dialog.figure figure {
	width: 100%;
	height: 100%;
	overflow: hidden;
	margin: 0;
	padding: 0;
	cursor: zoom-in;
}
dialog.figure figure:not(.zoomed) {
	display: flex;
	align-items: center;
	justify-content: center;
}
dialog.figure figure.zoomed {
	overflow: scroll;
	cursor: zoom-out;
}
dialog.figure figure .backdrop {
	position: absolute;
	inset: 0;
	background-color: #888;
	background-size: cover;
	background-position: center;
	filter: saturate(.5) brightness(.8) blur(10px);
}
dialog.figure figure.zoomed .backdrop {
	display: none;
}
dialog.figure figure img {
	position: relative;
	display: block;
}
dialog.figure figure:not(.zoomed) img {
	max-width: 100%;
	max-height: 100%;
}
dialog.figure button {
	--position-offset: 2rem;
	top: var(--position-offset);
	left: var(--position-offset);
	opacity: 0;
}
dialog.figure button.right-position {
	left: unset;
	right: var(--position-offset);
}
dialog.figure button.bottom-position {
	top: unset;
	bottom: var(--position-offset);
}
@keyframes photo-button-fade {
	from { opacity: 1; }
	to { opacity: 0; }
}
dialog.figure button.fading {
	animation-name: photo-button-fade;
	animation-duration: 3s;
}
dialog.figure button:hover,
dialog.figure button:focus {
	outline: auto;
	opacity: 1;
	animation: none;
}
