:root {
	--frame-color: #CCC;
	--hover-color: #DEF;
	--click-color: #FC8;
	--info-color: #28F;
	--info-stroke-color: #00F;
	--notice-background-color: #FFB;
	--error-color: #F00;
	--error-background-color: #FCC;
	--refresh-color: #C80;
	--semi-link-color: #004;
	--inset-background-color: #EEE;
	--file-reader-background-color: #e9e9ed;
	--file-reader-passive-border-color: #888;
	--file-reader-active-border-color: #6A6;
	--tag-key-background-color: #F8F8FF;
	--popup-item-background: #F8F8F8;
	--popup-main-item-background: #FFF;

	--frame-line: solid 1px var(--frame-color);
}
@media (prefers-color-scheme: dark) {
	:root {
		--hover-color: #246;
		--click-color: #A84;
		--info-color: #26B;
		--info-stroke-color: #008;
		--notice-background-color: #662;
		--error-color: #C00;
		--error-background-color: #622;
		--semi-link-color: #CCF;
		--inset-background-color: #333;
		--file-reader-background-color: #2b2a33;
		--tag-key-background-color: #223;
		--popup-item-background: #333;
		--popup-main-item-background: #222;
	}
}

body {
	padding: 0;
	margin: 0;
}
body > .symbols {
	display: none;
}

.ui {
	--min-hor-side-size: 40px;
	--min-ver-side-size: 40px;
	height: 100dvh;
	display: grid;
	grid-template-columns: var(--min-hor-side-size) var(--extra-left-size-size,1fr) 1fr var(--extra-right-size-size,1fr) var(--min-hor-side-size);
	grid-template-rows: var(--min-ver-side-size) var(--extra-top-size-size,1fr) 1fr var(--extra-bottom-size-size,1fr) var(--min-ver-side-size);
	grid-template-areas:
		"T T T T T"
		"T T T T T"
		"G G G G G"
		"G G G G G"
		"G G G G G";
}
.ui.flipped {
	grid-template-areas:
		"T T G G G"
		"T T G G G"
		"T T G G G"
		"T T G G G"
		"T T G G G";
}
.ui .graphic-side {
	grid-area: G;
	position: relative;
}
.ui .text-side {
	grid-area: T;
	position: relative;
	display: flex;
	flex-direction: column;
	z-index: 1; /* be above photo with blurry backdrop */
	overflow-y: auto; /* scrollbar should appear only for oversized tools panel */
}
.ui .text-side .scrolling {
	overflow-y: scroll;
	flex-grow: 1;
}

a.input-link[tabindex],
a.listened,
time.listened {
	text-decoration: underline dotted 1px;
	cursor: pointer;
}
a.input-link[tabindex],
time.listened {
	color: var(--semi-link-color);
}
a.input-link[tabindex].loading,
a.listened.loading {
	cursor: progress;
}
a.listened.error,
a.listened.absent {
	text-decoration-color: #A00;
}
a.other-note.absent:active {
	cursor: not-allowed;
}
button[role=progressbar] {
	cursor: progress;
}

kbd.copy {
	text-decoration: underline dotted 1px;
}
kbd.copy::after {
	content: ' (copy)';
	opacity: 0;
}
kbd.copy:hover::after {
	opacity: 0.5;
}

button.global {
	position: absolute;
	width: 2rem;
	height: 2rem;
	box-sizing: border-box;
	border: none;
	padding: 0;
	background: none;
	overflow: hidden;
}
button.global > svg {
	width: 100%;
	height: 100%;
}
button.global:not([disabled]):hover {
	cursor: pointer;
}
button.global:not([disabled]):hover > svg { /* > svg background only required for leaflet border style, otherwise could set background on button directly */
	background: var(--hover-color);
}

.loose-parser-popup {
	--item-width: 90px;
	display: none;
	position: fixed;
	z-index: 1;
	list-style: none;
	margin: 0;
	padding: 0;
	border: var(--frame-line);
	font-size: .9em;
	opacity: .9;
}
.loose-parser-popup.open {
	display: block;
}
.loose-parser-popup a {
	display: block;
	box-sizing: border-box;
	width: var(--item-width);
	padding: 2px 0 2px 5px;
	background: var(--popup-item-background);
	overflow: hidden;
	text-overflow: ellipsis;
}
.loose-parser-popup li.main a {
	padding: 10px 0 10px 5px;
	border-top: var(--frame-line);
	border-bottom: var(--frame-line);
	background: var(--popup-main-item-background);
}
.loose-parser-popup a:link:hover {
	background: var(--hover-color);
}
