nav {
	position: relative;
	box-sizing: border-box;
	padding: .5rem 3rem 0 .5rem;
	z-index: 1;
}
nav button.global {
	right: .25rem;
	top: .25rem;
	z-index: 2;
}
nav button.global:not(.reset):not(:focus) {
	opacity: 0;
	pointer-events: none;
}
nav button.reset {
	border-radius: 50%;
}
nav button.global:not(.reset):focus ~ button.reset {
	opacity: 0;
	pointer-events: none;
}
nav [role=tablist] {
	display: flex;
	margin: 0;
	padding: 0;
}
nav [role=tablist] [role=tab] {
	line-height: 2rem;
	position: relative;
	display: block;
	padding: 0 1rem;
	border-left: var(--frame-line);
	border-right: var(--frame-line);
	border-top: var(--frame-line);
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border-bottom: none;
	margin-bottom: -1px;
	margin-left: -1px;
	color: var(--semi-link-color);
	background: var(--inset-background-color);
	text-decoration: none;
}
nav [role=tablist] [role=tab]:first-child {
	margin-left: 0;
}
nav [role=tablist] [role=tab][aria-selected=true] {
	background: canvas;
}
nav [role=tablist] [role=tab]:not([aria-selected=true]) {
	box-shadow: 0 -4px 4px -4px #AAA inset;
}
nav [role=tablist] [role=tab]:hover {
	background: var(--hover-color);
}
nav [role=tablist] [role=tab]:focus {
	z-index: 1;
}
