.notes table {
	border-collapse: collapse;
	margin: 0 2px;
}
.notes tbody {
	box-shadow: -2px 0px 0px 0px red, 2px 0px 0px 0px red;
	position: relative;
}
.notes tbody.hidden {
	display: none;
}
.notes tbody.closed {
	box-shadow: -2px 0px 0px 0px green, 2px 0px 0px 0px green;
}
.notes tbody.active-hover::before {
	content: '';
	display: block;
	position: absolute;
	inset: 0;
	background: var(--hover-color);
	z-index: -1;
}
@keyframes active-click-fade {
	from { background: var(--click-color); }
	to { background: transparent; }
}
.notes tbody.active-click {
	animation-name: active-click-fade;
	animation-duration: 3s;
}
.notes td {
	vertical-align: top;
}
.notes td,
.notes th {
	padding: 2px;
}
.notes td.note-date {
	white-space: nowrap;
}
.notes td.note-user {
	white-space: nowrap;
	max-width: 20vw;
	text-overflow: ellipsis;
	overflow: hidden;
}
body.flipped .notes td.note-user {
	max-width: 10vw;
}
.notes td.note-user:empty::before {
	content: "anonymous";
	color: gray;
}
.notes td.note-action [class|=icon] {
	position: relative;
	display: inline-block;
	margin: 0;
	padding: 0;
	width: 16px;
	height: 16px;
	vertical-align: text-top;
}
.notes td.note-action [class|=icon-status-open] {
	--table-note-default-part-visibility: hidden;
	--table-note-open-part-visibility: visible;
}
.notes td.note-action [class|=icon-status-closed] {
	--table-note-default-part-visibility: hidden;
	--table-note-closed-part-visibility: visible;
}
.notes td.note-action [class|=icon-comments-count] text {
	font-family: sans-serif;
	font-size: 10px;
	text-anchor: middle;
	dominant-baseline: central;
}
.notes td.note-comment {
	--comment-img-gap-size: 2px;
	--comment-link-outline: solid orange var(--comment-img-gap-size);
	white-space: pre-wrap;
	overflow-wrap: anywhere;
	width: 100%;
}
.notes td.note-comment:empty::before {
	content: "no comment";
	color: gray;
}
.notes td.note-comment a.image:hover,
.notes td.note-comment a.image.active {
	outline: var(--comment-link-outline)
}
.notes td.note-comment a.image.float {
	display: none;
	float: right;
	max-width: 25%;
	margin-left: var(--comment-img-gap-size);
	margin-bottom: var(--comment-img-gap-size);
}
.notes td.note-comment a.image.float img {
	display: block;
	max-width: 100%;
	max-height: 25vh;
}
.notes table.with-images td.note-comment a.image.float {
	display: block;
}
.notes table.only-first-comments tr:not(:first-child) {
	display: none;
}
.notes table.only-first-comments td.note-action [class|=icon-status] {
	display: none;
}
.notes table:not(.only-first-comments) td.note-action [class|=icon-comments-count] {
	display: none;
}
.notes table.one-line-comments td.note-comment {
	white-space: nowrap;
	overflow: hidden;
}
