.graphic-side button.menu {
	z-index: 2;
	/* copied from leaflet: */
	top: 10px;
	left: 10px;
	border: 2px solid rgba(0,0,0,0.2);
	border-radius: 5px;
}
.graphic-side button.menu:not(:hover) > svg {
	background: canvas;
}
.graphic-side button.menu[aria-expanded=true] {
	--menu-cross-part-visibility: visible;
}

.graphic-side .resize {
	position: absolute;
	z-index: 1;
	touch-action: none;
	opacity: 0;
	background-image: radial-gradient(currentColor 25%, #0000 0%);
	background-size: 8px 8px;
	background-position: center;
	background-color: canvas;
}
@media (any-hover: none) {
	.graphic-side .resize {
		opacity: .2;
	}
}
.ui .text-side:is([data-side='top'],[data-side='bottom']) + .graphic-side .resize {
	height: 10px;
	width: 100%;
	left: 0;
	right: 0;
	cursor: row-resize;
}
.ui .text-side:is([data-side='left'],[data-side='right']) + .graphic-side .resize {
	width: 10px;
	height: 100%;
	top: 0;
	bottom: 0;
	cursor: col-resize;
}
.ui .text-side[data-side='top'] + .graphic-side .resize {
	top: 0;
}
.ui .text-side[data-side='bottom'] + .graphic-side .resize {
	bottom: 0;
}
.ui .text-side[data-side='left'] + .graphic-side .resize {
	left: 0;
}
.ui .text-side[data-side='right'] + .graphic-side .resize {
	right: 0;
}
.graphic-side .resize:hover {
	opacity: .2;
}
.graphic-side .resize:focus-visible {
	opacity: 1;
}
.graphic-side .resize:hover {
	background-color: var(--hover-color);
}
.ui.overlay .graphic-side .resize {
	opacity: .2;
}

.graphic-side div.menu:not([hidden]) {
	position: absolute;
	z-index: 1;
	inset: 0;
	background: canvas;
	display: flex;
	flex-direction: column;
	box-shadow: 0 0px 6px var(--shadow-color);
}
.graphic-side div.menu .lead {
	margin-left: calc(20px + 2rem);
	min-height: calc(20px + 2rem);
	display: grid;
	align-content: center;
}
.graphic-side div.menu .scrolling {
	flex-grow: 1;
	overflow-y: scroll;
}
.graphic-side div.menu .panel {
	--panel-padding: 1rem;
}

.graphic-side > .message:not([hidden]) {
	position: absolute;
	inset: 0;
	box-sizing: border-box;
	width: 50%;
	height: 50%;
	background: canvas;
	margin: auto;
	border-radius: 1rem;
	padding: 1rem;
	opacity: .5;
	display: grid;
	place-items: center;
	text-align: center;
	font-size: clamp(1rem, .5rem + 2vw, 2rem);
	pointer-events: none;
}
.graphic-side:hover > .message {
	opacity: .3;
}

dialog.figure {
	position: absolute;
	z-index: 2;
	inset: 0;
	padding: 0;
	border: 0;
	width: 100%;
	height: 100%;
	--control-position-offset: .5rem;
}
dialog.figure figure {
	width: 100%;
	height: 100%;
	overflow: hidden;
	margin: 0;
	padding: 0;
	cursor: zoom-in;
	scrollbar-width: thin;
}
dialog.figure figure::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}
dialog.figure figure::-webkit-scrollbar-track,
dialog.figure figure::-webkit-scrollbar-corner {
	background: var(--inset-background-color);
}
dialog.figure figure::-webkit-scrollbar-thumb {
	background: var(--frame-color);
}
dialog.figure figure:not(.zoomed) {
	display: flex;
	align-items: center;
	justify-content: center;
	touch-action: none;
}
dialog.figure figure.zoomed {
	overflow: scroll;
	cursor: zoom-out;
}
dialog.figure figure .backdrop {
	position: absolute;
	inset: 0;
	background-color: #888;
	background-size: cover;
	background-position: center;
	filter: saturate(.5) brightness(.8) blur(10px);
}
dialog.figure figure.zoomed .backdrop {
	display: none;
}
dialog.figure figure img {
	position: relative;
	display: block;
}
dialog.figure figure:not(.zoomed) img {
	max-width: 100%;
	max-height: 100%;
}
@keyframes figure-control-fade {
	from { opacity: 1; }
	to { opacity: 0; }
}
dialog.figure :is(button,figcaption) {
	background: #AAA8;
	color: #FFF;
	opacity: 0;
}
dialog.figure button {
	border-radius: 50%;
}
dialog.figure button.close {
	top: var(--control-position-offset);
	left: var(--control-position-offset);
}
dialog.figure button.close.right-position {
	left: unset;
	right: var(--control-position-offset);
}
dialog.figure button.close.bottom-position {
	top: unset;
	bottom: var(--control-position-offset);
}
dialog.figure button:is(.prev,.next) {
	top: 0;
	bottom: 0;
	margin: auto 0;
}
dialog.figure button.prev {
	left: var(--control-position-offset);
}
dialog.figure button.next {
	right: var(--control-position-offset);
}
dialog.figure button:not([disabled]):hover > svg {
	background: #246;
}
dialog.figure figcaption {
	position: absolute;
	top: calc(.25rem + var(--control-position-offset));
	left:  calc(2.5rem + var(--control-position-offset));
	right: calc(2.5rem + var(--control-position-offset));
	padding: .25rem .5rem;
}
dialog.figure button:is(:hover,:focus),
dialog.figure figcaption:hover {
	opacity: 1;
	animation: none !important;
}

dialog.help {
	padding: 1rem;
}
dialog.help button.close {
	float: right;
	width: 2rem;
	height: 2rem;
	box-sizing: border-box;
	border: none;
	padding: 0;
	margin: -2px;
	background: none;
	overflow: hidden;
	border-radius: 50%;
	cursor: pointer;
}
dialog.help button.close:hover {
	background: var(--hover-color);
}
dialog.help button.close > svg {
	width: 100%;
	height: 100%;
}
dialog.help > h2:first-child,
dialog.help > button.close:first-child + h2 {
	margin-top: 0;
}
dialog.help .input-group {
	margin: .2rem 0;
}
dialog.help .input-group.major {
	margin: 1rem 0;
}
dialog.help .input-group.major:last-child {
	margin-bottom: 0;
}
dialog.help .input-group.major button {
	display: block;
	box-sizing: border-box;
	width: 100%;
	padding: var(--major-button-padding);
	margin: .2rem 0;
}
dialog.help .notice {
	margin-left: -1rem;
	margin-right: -1rem;
	padding: 1rem;
	background: var(--notice-background-color);
}
dialog.help > .notice:last-child {
	margin-bottom: -1rem;
}
dialog.help :is(p,ul) {
	line-height: 1.5;
}
dialog.help kbd {
	display: inline-block;
	background: var(--inset-background-color);
	border-radius: 3px;
	line-height: 1;
	padding: 2px 4px;
	white-space: nowrap;
	font-weight: bold;
	border: solid 1px var(--frame-color);
	box-shadow: 0 1px 1px var(--frame-color);
}
dialog.help small {
	opacity: .7;
}
dialog.help table.tool-settings td {
	padding: 0;
	vertical-align: baseline;
}
dialog.help table.tool-settings td input {
	margin-left: 0;
}
dialog.help table.tool-settings thead td {
	padding-bottom: .5rem;
	border-bottom: var(--frame-line);
}
dialog.help table.tool-settings tbody tr:first-child td {
	padding-top: .5rem;
}
dialog.help table.tool-settings label {
	white-space: nowrap;
}
dialog.help table.tool-settings td.description {
	height: 1.5rem;
	padding-left: 1rem;
	line-height: .9;
}
dialog.help table.tool-settings td.description small {
	font-family: sans-serif;
	font-size: clamp(.7rem, .7rem + .5 * (1vw - 3px), .9rem);
}
