:root {
	--major-button-padding: .3rem;
}

.panel {
	--panel-padding: .5rem;
	position: relative;
	padding: var(--panel-padding);
	border-top: var(--frame-line);
	border-bottom: var(--frame-line);
}
.panel + .panel {
	border-top: none;
}
.panel label.inline {
	white-space: nowrap;
}
.panel h2 {
	margin: 1.5rem 0 .5rem 0;
}
.panel section:first-child h2,
.panel section[role=tabpanel] h2 {
	margin-top: .3rem;
}
.panel [class$="-input-group"] {
	margin: .5rem 0;
}
.panel div.notice:not(:empty) {
	margin: .5rem calc(-1 * var(--panel-padding)); /* negative margins only for block-level notices */
}
.panel .notice:not(:empty) {
	padding: .5rem var(--panel-padding);
}
.panel .notice {
	background: var(--notice-background-color);
}
.panel .notice.error {
	color: var(--error-color);
	background: var(--error-background-color);
}
.panel details > summary:hover {
	background: var(--hover-color);
}
.panel > details:first-child > summary {
	margin-top: calc(-1 * var(--panel-padding));
}
.panel > details:last-child > summary {
	margin-bottom: calc(-1 * var(--panel-padding));
}
.panel > details > summary {
	margin-left: calc(-1 * var(--panel-padding));
	margin-right: calc(-1 * var(--panel-padding));
	padding: .5rem var(--panel-padding);
}
.panel > section > details > summary,
.panel > section > details > details > summary {
	margin-left: calc(-1 * var(--panel-padding));
	margin-right: calc(-1 * var(--panel-padding));
	padding: 0 var(--panel-padding);
}

:is(.panel.fetch, .more) .advanced-hint {
	opacity: .7;
	font-size: .9em;
}
:is(.panel.fetch, .more) a.request {
	word-wrap: anywhere;
}
:is(.panel.fetch, .more):not(.advanced-mode) .advanced-hint {
	display: none;
}
:is(.panel.fetch, .more) .advanced-hint p {
	margin: .5em 0;
}
.panel.fetch:not(.advanced-mode) .advanced-input-group {
	display: none;
}
.panel.fetch.advanced-mode .non-advanced-input-group {
	display: none;
}
.panel.fetch input[type=number] {
	width: 4em;
}
.panel.fetch .advanced-hint table {
	border-collapse: collapse;
}
.panel.fetch .advanced-hint td {
	border-top: var(--frame-line);
	padding: 4px 0 4px 8px;
}
.panel.fetch .advanced-hint td:first-child {
	padding-left: 0;
}
.panel.fetch .advanced-hint .linked-parameter {
	text-decoration: underline dotted 1px;
	color: var(--semi-link-color);
	cursor: pointer;
}

.panel.toolbar {
	--gap: 8px;  /* used in info tips */
	display: flex;
	flex-wrap: wrap;
	gap: var(--gap);
}
.panel.toolbar div,
.panel.toolbar details.tool {
	margin: 0;
	line-height: 1.4em;
}
.panel.toolbar details.tool.full-width[open] {
	width: 100%;
}
.panel.toolbar details.tool {
	outline: none;
}
@keyframes tool-ping-fade {
	from {
		outline-color: var(--click-color);
		outline-style: solid;
	}
	to {
		outline-color: transparent;
		outline-style: solid;
	}
}
.panel.toolbar details.tool > summary {
	display: inline;
}
.panel.toolbar details.tool > summary::before,
dialog.help :is(button.open-all-tools, button.close-all-tools)::before {
	--size: 11px;
	content: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-5.5 -5.5 11 11' fill='none' stroke='gray'><rect width='10' height='10' x='-5' y='-5' opacity='.3' /><line x1='-3' x2='3' /><line y1='-3' y2='3' /></svg>");
	display: inline-block;
	width: var(--size);
	height: var(--size);
	line-height: var(--size);
	margin-right: .5ch;
}
.panel.toolbar details.tool > summary:hover {
	background: unset;
}
.panel.toolbar details.tool > summary:hover::before {
	background: var(--hover-color);
	outline: solid 1px var(--hover-color);
	outline-offset: 1px;
}
.panel.toolbar details.tool[open] > summary::before,
dialog.help button.close-all-tools::before {
	content: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-5.5 -5.5 11 11' fill='none' stroke='gray'><rect width='10' height='10' x='-5' y='-5' opacity='.3' /><line x1='-3' x2='3' /></svg>");
}
.panel.toolbar details.tool[open] > summary::after {
	content: ':';
	width: 1ex;
	display: inline-block;
}
.panel.toolbar details.tool button.info {
	--info-size: 20px;
	--info-height-with-tip: calc(var(--info-size) + var(--gap) + 1px);
	display: inline-block;
	position: relative;
	vertical-align: bottom;
	border: none;
	padding: 0;
	margin: 0;
	background: none;
	width: var(--info-size);
	height: var(--info-size);
	overflow: hidden;
}
.panel.toolbar details.tool button.info > svg {
	position: absolute;
	top: 0;
	left: 0;
	width: var(--info-size);
	height: var(--info-height-with-tip);
}
.panel.toolbar details.tool button.info[aria-expanded=false] {
	cursor: help;
}
.panel.toolbar details.tool button.info:hover {
	--tools-info-hover-part-visibility: visible;
}
.panel.toolbar details.tool button.info[aria-expanded=true] {
	margin-bottom: calc(-1px - var(--gap));
	height: var(--info-height-with-tip);
	--tools-info-tip-part-visibility: visible;
}
.panel.toolbar details.tool button.info[aria-expanded=true]:hover {
	--tools-info-close-hover-part-visibility: visible;
}
.panel.toolbar details.tool form {
	display: contents;
}
.panel.toolbar details.info {
	width: calc(100% + 1rem);
	display: none;
	margin: 0 -.5rem;
	border-top: solid 1px #AAA;
	border-bottom: solid 1px #AAA;
	padding: 0 .5rem;
	background: var(--inset-background-color);
}
.panel.toolbar details.info p {
	margin: .5rem 0;
}
.panel.toolbar details.info[open] {
	display: block;
}
.panel.toolbar details.info > summary {
	display: none;
}
.panel.toolbar details.tool :is(.major-input-group, .gridded-input-group) {
	margin: .2em 0;
}
.panel.toolbar > button.settings {
	margin-left: auto;
}
.panel.toolbar [class|=icon] > svg {
	vertical-align: middle;
}
.panel.toolbar [class|=icon-map] > svg {
	width: 19px;
	height: 13px;
}
.panel.toolbar [class|=icon-notes] > svg {
	width: 9px;
	height: 13px;
}
.panel.toolbar [class|=icon-action] > svg {
	width: 13px;
	height: 13px;
}
.panel.toolbar [class|=icon-note-status] > svg {
	width: 8px;
	height: 16px;
	vertical-align: text-bottom;
}
.panel.toolbar .icon-map-area {
	--tools-map-area-part-visibility: visible;
}
.panel.toolbar .icon-map-center {
	--tools-map-center-part-visibility: visible;
}
.panel.toolbar button[disabled] [class|=icon] {
	opacity: .5;
}
.panel.toolbar button.only-with-icon {
	box-sizing: content-box;
	height: 13px;
	width: 13px;
	padding: 2px;
	vertical-align: bottom;
}
.panel.toolbar button.only-with-icon [class|=icon] > svg {
	vertical-align: inherit;
}
.panel.toolbar input[type=number] {
	width: 7ch;
}
.panel.toolbar .interaction-run {
	display: flex;
	gap: .2em;
}
.panel.toolbar .interaction-run > output {
	flex-grow: 1;
}
.panel.toolbar .interaction-run > button {
	flex-shrink: 0;
}
.panel.toolbar .interaction-run > button.info {
	align-self: end;
}

.panel :is(input,textarea):invalid:not(.no-invalid-indication) {
	border: solid 2px var(--error-color);
	border-radius: 3px;
}
.panel .major-input-group :is(input[type=text], textarea, button):not([hidden]) {
	display: block;
	box-sizing: border-box;
	width: 100%;
	margin: .2em 0;
}
.panel .major-input-group textarea {
	resize: vertical;
}
.panel .major-input-group button {
	padding: var(--major-button-padding);
}
.panel .major-input-group .text-controls {
	float: right;
}
.panel .major-input-group .text-controls a span {
	opacity: .7;
}
.panel .major-input-group .text-controls a em {
	font-style: inherit;
}
.panel .text-button-input-group {
	display: flex;
	gap: .5em;
	align-items: end;
}
.panel .text-button-input-group > label {
	flex-grow: 1;
}
.panel .text-button-input-group > label input[type=text] {
	display: block;
	box-sizing: border-box;
	width: 100%;
}
.panel .text-button-input-group button {
	width: 4.5rem;
}
.panel .checkbox-button-input-group {
	display: flex;
	gap: .5em;
}
.panel .checkbox-button-input-group > button {
	flex-grow: 1;
	padding: var(--major-button-padding);
}
.panel button.error {
	color: var(--error-color);
	box-shadow: 0px 0px 0px 1px var(--error-color);
}
.panel fieldset {
	margin-left: 0;
	margin-right: 0;
}
.panel .major-input-group label.file-reader {
	--file-reader-border-width: 2px;
}
.panel .major-input-group label.file-reader {
	display: grid;
	align-content: center;
}
.panel .major-input-group label.file-reader .over {
	margin: 2px;
	grid-row: 1;
	grid-column: 1;
	z-index: 1;
	pointer-events: none;
	background: var(--file-reader-background-color);
	display: grid;
	place-items: center;
}
.panel .major-input-group label.file-reader:focus-within .over {
	z-index: -1;
}
.panel .major-input-group label.file-reader input {
	display: block;
	padding: 3rem;
	background: var(--file-reader-background-color);
	text-align: center;
	grid-row: 1;
	grid-column: 1;
	border: dashed var(--file-reader-border-width) var(--file-reader-passive-border-color);
	border-radius: 2px;
}
.panel .major-input-group label.file-reader input.active {
	border: dashed var(--file-reader-border-width) var(--file-reader-active-border-color);
}
.panel .gridded-input-group {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(20ch, 1fr));
	gap: .2em;
}
.panel .gridded-input-group > button {
	padding: var(--major-button-padding);
}
.panel .date-range-input-group {
	display: flex;
	flex-wrap: wrap;
	gap: .5em;
}
.panel .date-range-input-group > label {
	flex-grow: 1;
}
.panel .date-range-input-group > label > input {
	display: block;
	box-sizing: border-box;
	width: 100%;
}

.more div {
	margin: 1em;
}
.more button {
	display: block;
	box-sizing: border-box;
	width: 100%;
	padding: var(--major-button-padding);
}
.more .error {
	background: var(--error-background-color);
}
.more pre {
	margin: 1rem 0 0 0;
	padding: 1rem;
	background: var(--inset-background-color);
	overflow-x: scroll;
}
.examples dd {
	margin: .5em 0 .5em 2em;
	padding: .5em;
	background: var(--inset-background-color);
}
.examples code {
	white-space: pre-wrap;
}

.panel table th {
	vertical-align: bottom;
}
.panel table td.number {
	text-align: right;
}
.panel table th.capability {
	min-width: 1em;
	writing-mode: vertical-rl;
	vertical-align: top;
	transform: rotate(180deg);
}
.panel table td.capability {
	text-align: center;
}
.panel table td.capability a {
	text-decoration: none;
}
.panel table input[type=radio] {
	cursor: pointer;
}

.panel details.with-code-form details.syntax {
	float: right;
}
.panel details.with-code-form details.syntax[open] > summary {
	margin-left: calc(-1 * var(--panel-padding));
	margin-right: calc(-1 * var(--panel-padding));
	padding: 0 var(--panel-padding);
}
