#text,
#map {
	position: fixed;
	height: 50%;
	width: 100%;
}
body.flipped #map,
body.flipped #text {
	height: 100%;
	width: 50%;
}
#text {
	top: 0;
	left: 0;
}
#map {
	bottom: 0;
	right: 0;
}

#text {
	display: flex;
	flex-direction: column;
}
#text .scrolling {
	overflow-y: scroll;
	flex-grow: 1;
}

.panel {
	position: relative;
	padding: .5rem;
	border-top: solid 1px #CCC;
	border-bottom: solid 1px #CCC;
}
.panel + .panel {
	border-top: none;
}
.panel div {
	margin: .5rem 0;
}
.panel label.inline {
	white-space: nowrap;
}
.panel.fetch {
	padding: .5rem 3rem;
}
.panel.fetch button.reset,
.panel.fetch button.flip {
	position: absolute;
	top: .5rem;
	width: 2rem;
	height: 2rem;
	box-sizing: border-box;
	border: none;
}
.panel.fetch button.reset:hover,
.panel.fetch button.flip:hover {
	outline: auto;
}
.panel.fetch button.reset {
	right: .5rem;
	background: url("reset.svg");
}
.panel.fetch button.flip {
	left: .5rem;
	background: url("flip-ver.svg");
}
body.flipped .panel.fetch button.flip {
	background: url("flip-hor.svg");
}
.panel.command {
	--gap: 8px;  /* used in info tips */
	display: flex;
	flex-wrap: wrap;
	gap: var(--gap);
}
.panel.command div,
.panel.command details.tool {
	margin: 0;
	line-height: 1.4em;
}
.panel.command details.tool summary {
	display: inline;
}
.panel.command details.tool summary::before {
	content: '+';
	display: inline-block;
	width: 1em;
	height: 1em;
	line-height: 1em;
	text-align: center;
}
.panel.command details.tool summary:hover::before {
	background: yellow;
}
.panel.command details.tool[open] summary::before {
	content: '−';
}
.panel.command details.tool[open] summary::after {
	content: ':';
	width: 1ex;
	display: inline-block;
}
.panel.command details.tool button.info {
	--info-size: 20px;
	display: inline-block;
	position: relative;
	vertical-align: bottom;
	border: none;
	padding: 0;
	margin: 0;
	width: var(--info-size);
	height: var(--info-size);
	background: url("info.svg") no-repeat;
}
.panel.command details.tool button.info.open {
	margin-bottom: calc(-1px - var(--gap));
	height: calc(var(--info-size) + var(--gap) + 1px);
	background: url("info-tip.svg") no-repeat;
}
.panel.command details.info {
	width: calc(100% + 1rem);
	display: none;
	margin: 0 -.5rem;
	border-top: solid 1px #AAA;
	border-bottom: solid 1px #AAA;
	padding: .5rem;
	background: #DDD;
}
.panel.command details.info[open] {
	display: block;
}
.panel.command details.info summary {
	display: none;
}
.panel.command .icon {
	vertical-align: middle;
}
.panel.command button[disabled] .icon {
	opacity: .5;
}
.panel input:invalid,
.panel textarea:invalid {
	border: solid 2px red;
	border-radius: 3px;
}
.panel .major-input input[type=text],
.panel .major-input textarea,
.panel .major-input button {
	display: block;
	box-sizing: border-box;
	width: 100%;
}
.panel .major-input textarea {
	resize: vertical;
}
.panel .major-input button {
	padding: .3rem;
}
.panel button.error {
	color: red;
	box-shadow: 0px 0px 0px 1px red;
}
.panel fieldset {
	margin-left: 0;
	margin-right: 0;
}
.notes table {
	border-collapse: collapse;
	margin: 0 2px;
}
.notes tbody {
	box-shadow: -2px 0px 0px 0px red, 2px 0px 0px 0px red;
}
.notes tbody.hidden {
	display: none;
}
.notes tbody.closed {
	box-shadow: -2px 0px 0px 0px green, 2px 0px 0px 0px green;
}
.notes tbody.active {
	background: #DEF;
}
.notes td {
	vertical-align: top;
}
.notes td,
.notes th {
	padding: 2px;
}
.notes td.note-date {
	white-space: nowrap;
}
.notes td.note-user {
	white-space: nowrap;
	max-width: 20vw;
	text-overflow: ellipsis;
	overflow: hidden;
}
body.flipped .notes td.note-user {
	max-width: 10vw;
}
.notes td.note-user:empty::before {
	content: "anonymous";
	color: gray;
}
.notes td.note-action .icon {
	position: relative;
	display: inline-block;
	margin: 0;
	padding: 0;
	width: 16px;
	height: 16px;
	vertical-align: text-top;
	background: url("note-status.svg");
}
.notes td.note-action .icon input {
	position: absolute;
	margin: 0;
	padding: 0;
	width: 16px;
	height: 16px;
	top: 0;
	left: 0;
	opacity: 0;
}
.notes td.note-action .icon input:checked {
	opacity: .7;
}
.notes td.note-action .icon.open {
	background: url("note-status-open.svg");
}
.notes td.note-action .icon.closed {
	background: url("note-status-closed.svg");
}
.notes td.note-comment {
	white-space: pre-wrap;
	overflow-wrap: anywhere;
	width: 100%;
}
.notes td.note-comment:empty::before {
	content: "no comment";
	color: gray;
}
.more div {
	padding: 1em;
}
.more button {
	display: block;
	box-sizing: border-box;
	width: 100%;
	padding: .3rem;
}
.more .error {
	background: #FCC;
}
.more pre {
	margin: 1rem 0 0 0;
	padding: 1rem;
	background: #CCC;
	overflow-x: scroll;
}
.examples dd {
	margin: .5em 0 .5em 2em;
	padding: .5em;
	background: #EEE;
}
.examples code {
	white-space: pre-wrap;
}

#map .note-track {
	vector-effect: non-scaling-stroke;
}
#map .crosshair-overlay {
	position: absolute;
	z-index: 500;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	pointer-events: none;
}
#map .crosshair-overlay .crosshair {
	height: 15px;
	width: 15px;
	background: url("crosshair.svg");
}
