#text-pane {
	position: fixed;
	height: 50%;
	width: 100%;
	top: 0;
	left: 0;
	overflow-y: scroll;
}
#map-container {
	position: fixed;
	height: 50%;
	width: 100%;
	bottom: 0;
	right: 0;
}
body.flipped #map-container,
body.flipped #text-pane {
	height: 100%;
	width: 50%;
}
#notes-container td {
	vertical-align: top;
}
#notes-container td.note-user {
	white-space: nowrap;
}
#notes-container td.note-user:empty::before {
	content: "anonymous";
	color: gray;
}
#notes-container td.note-action .icon {
	display: inline-block;
	width: 16px;
	height: 16px;
	background: url("icon.svg");
}
#notes-container td.note-action .icon.open {
	background: url("icon-open.svg");
}
#notes-container td.note-action .icon.close {
	background: url("icon-close.svg");
}
#notes-container td.note-comment {
	white-space: pre-wrap;
}
#notes-container td.note-comment:empty::before {
	content: "no comment";
	color: gray;
}
