#text,
#map {
	position: fixed;
	height: 50%;
	width: 100%;
}
body.flipped #map,
body.flipped #text {
	height: 100%;
	width: 50%;
}
#text {
	top: 0;
	left: 0;
	overflow-y: scroll;
}
#map {
	bottom: 0;
	right: 0;
}
.panel {
	position: relative;
	padding: .5rem 3rem;
	border-top: solid 1px #CCC;
	border-bottom: solid 1px #CCC;
}
.panel button.flip {
	position: absolute;
	top: 0;
	left: 0;
	width: 2rem;
	height: 2rem;
	box-sizing: border-box;
	border: none;
	background: url("flip-ver.svg");
}
body.flipped .panel button.flip {
	background: url("flip-hor.svg");
}
.panel div {
	margin: .5rem 0;
}
.panel input[type=text] {
	display: block;
	box-sizing: border-box;
	width: 100%;
}
#notes table {
	border-collapse: collapse;
	margin: 0 2px;
}
#notes tbody {
	box-shadow: -2px 0px 0px 0px red, 2px 0px 0px 0px red;
}
#notes tbody.closed {
	box-shadow: -2px 0px 0px 0px green, 2px 0px 0px 0px green;
}
#notes tbody.active {
	background: #DEF;
}
#notes td {
	vertical-align: top;
}
#notes td,
#notes th {
	padding: 2px;
}
#notes td.note-user {
	white-space: nowrap;
	max-width: 20vw;
	text-overflow: ellipsis;
	overflow: hidden;
}
body.flipped #notes td.note-user {
	max-width: 10vw;
}
#notes td.note-user:empty::before {
	content: "anonymous";
	color: gray;
}
#notes td.note-action .icon {
	display: inline-block;
	width: 16px;
	height: 16px;
	background: url("icon.svg");
	vertical-align: text-top;
}
#notes td.note-action .icon.open {
	background: url("icon-open.svg");
}
#notes td.note-action .icon.closed {
	background: url("icon-closed.svg");
}
#notes td.note-comment {
	white-space: pre-wrap;
	overflow-wrap: anywhere;
	width: 100%;
}
#notes td.note-comment:empty::before {
	content: "no comment";
	color: gray;
}
